.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 12.5vh;
}

.black-tiles {
    background: #acacac;
}
.white-tiles {
    background: #d8d8d8;
}

.chessImage {
    width: 70px;
}

.Pieces {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 75px;
    background-repeat: no-repeat;
}

.Pieces:hover {
    cursor: grab;
}
.Pieces:active {
    cursor: grabbing;
}
