.tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 12.5vh;
}

.black-tiles{
background:#acacac;
}
.white-tiles{
    background: #d8d8d8;
    }

    .chessImage{
        width: 70px;
    }

   